@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  /* background-color: #D3C4C4; */
  background-color: #b8e1e4;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* viewidth classes */
.ml-10vw { margin-left: 10vw}
.mr-10vw { margin-right: 10vw}

.ml-20vw { margin-left: 20vw}
.mr-20vw { margin-right: 20vw}

/* viewhight classes */

.mb-2vh { margin-bottom: 2vh}
.mt-2vh { margin-top: 2vh}


.mb-8vh { margin-bottom: 8vh}
.mt-8vh { margin-top: 8vh}


.mb-10vh { margin-bottom: 10vh}
.mt-10vh { margin-top: 10vh}
